// $light-blue:#3CADD4;
// $light-green:#ADD43C;
// $light-pink:#D43C61;
$light-gray:rgba(255,255,255,0.5);
$white:#FFFFFF;
// $black-on-icon:#474747;
// $black:#444444;
$background-color:rgba(250,250,250,1);
$default-font-size:16px;
$font-family-for-all-platforms: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;